<% content_for :css do
	stylesheet_link_tag 'training'
end %>

<% content_for :left_nav do %>	
	<%= build_nav %>
<% end %>	 

<% content_for :right_panel do %>
	<%= render '/global/context_panel', locals: { tags: @course.id } %>
<% end %> 

<ol id="doc-breadcrumb" class="breadcrumb">
  <li>
      <a href="/training">
        <i class="fa fa-home"></i>
        Online Training
      </a>
  </li>
  <li class="active">&nbsp;<span><strong><%=@course.course %> : <%= @course.title %></strong></span></li>
</ol>  


<h5><%=@course.course %>:</h5>
<h1 class="course"><%= @course.title %></h1>
<h3 class="course"><%= @course.subtitle %></h3>

<div class="video-container"><%= @course.source.youtube.embed.html_safe %></div>

<h2 class="course">Curriculum</h2>
<%= @desc.html_safe %>

